<div class="sidebar pure-u-1 pure-u-md-7-24">
    <div class="header">
        <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <h1 class="brand-title">
                  <a href="{{ .Site.BaseURL }}">
                    {{ .Site.Title }}
                  </a>
                </h1>
              </li>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}bio">bio</a>
                </li>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}works">works</a>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}contact">contact</a>
                </li>
                {{ with .Site.Params.twitterName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                {{ end }}
                {{ with .Site.Params.githubName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://github.com/{{ . }} "><i class="fa fa-github-alt"></i> github</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>
